@model TriodorArgeProject.Entities.EntityClasses.TravelCosts
@{ ViewBag.Title = "AddTravelCost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Edit Travel Cost</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Support Project</a></li>
                <li class="breadcrumb-item active">Edit Travel Cost</li>
            </ol>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    @if (ViewBag.TRAVELMESSAGE != null)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-warning" role="alert">
                                @ViewBag.TRAVELMESSAGE
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            @Html.Hidden("CostID",Model.CostID)
                            @Html.Hidden("ID",Model.ID)
                            <div class="row p-t-20">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Personnel</label>
                                        <select class="select2" id="personnelList" name="personnelID" style="width: 100%"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Actual</label>
                                    <div class="input-group">

                                        <input type="text" id="Actual" name="Actual" class="form-control">
                                        <span class="input-group-addon" id="basic-addon2">₺</span>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Planned</label>
                                    <div class="input-group">

                                        <input type="text" id="Planned" name="Planned" class="form-control">
                                        <span class="input-group-addon" id="basic-addon2">₺</span>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label">Accepted</label>
                                    <div class="input-group">

                                        <input type="text" id="Accepted" name="Accepted" class="form-control">
                                        <span class="input-group-addon" id="basic-addon2">₺</span>

                                    </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <label class="control-label">Note</label>
                                        <input type="text" id="Notes" name="Notes" class="form-control">

                                    </div>

                                </div>
                            </div>
                            <!--/row-->

                            <br />
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>

                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-inverse" })
                        </div>
                    }
                </div>

            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
</div>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script>
     $(document).ready(function () {
        // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function () {
            new Switchery($(this)[0], $(this).data());
        });
        // For select 2
        $(".select2").select2();

        $.ajax({
            method: "GET",
            url: "/Personnel/GetPersonnelList/"
        }).done(function (jsnData) {
            $("#personnelList").empty();
            if (jsnData.result) {
                $(jsnData.veri).each(function () {
                    var option = $("<option/>");
                    option.html(this.Name);
                    option.val(this.ID);
                    $("#personnelList").append(option);
                });
            }

        });
        $('.selectpicker').selectpicker();
        //Bootstrap-TouchSpin
        $(".vertical-spin").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'ti-plus',
            verticaldownclass: 'ti-minus'
        });
        var vspinTrue = $(".vertical-spin").TouchSpin({
            verticalbuttons: true
        });
        if (vspinTrue) {
            $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
        }
        $("input[name='tch1']").TouchSpin({
            min: 0,
            max: 100,
            step: 0.1,
            decimals: 2,
            boostat: 5,
            maxboostedstep: 10,
            postfix: '%'
        });
        $("input[name='tch2']").TouchSpin({
            min: -1000000000,
            max: 1000000000,
            stepinterval: 50,
            maxboostedstep: 10000000,
            prefix: '$'
        });
        $("input[name='tch3']").TouchSpin();
        $("input[name='tch3_22']").TouchSpin({
            initval: 40
        });
        $("input[name='tch5']").TouchSpin({
            prefix: "pre",
            postfix: "post"
        });
        // For multiselect
        $('#pre-selected-options').multiSelect();
        $('#optgroup').multiSelect({
            selectableOptgroup: true
        });
        $('#public-methods').multiSelect();
        $('#select-all').click(function () {
            $('#public-methods').multiSelect('select_all');
            return false;
        });
        $('#deselect-all').click(function () {
            $('#public-methods').multiSelect('deselect_all');
            return false;
        });
        $('#refresh').on('click', function () {
            $('#public-methods').multiSelect('refresh');
            return false;
        });
        $('#add-option').on('click', function () {
            $('#public-methods').multiSelect('addOption', {
                value: 42,
                text: 'test 42',
                index: 0
            });
            return false;
        });
        $(".ajax").select2({
            ajax: {
                url: "https://api.github.com/search/repositories",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: formatRepo, // omitted for brevity, see the source of this page
            templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });
    });
</script>
