@using TriodorArgeProject.Entities.EntityClasses
@{
    Layout = null;
    Personnels user = (Personnels)Session["user"];
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Tema/assets/images/favicon.png">
    <title>Monster Admin Template - The Most Complete & Trusted Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/Tema/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="~/Content/Tema/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- page CSS -->
    <link href="~/Content/Tema/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Tema/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Tema/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="~/Content/Tema/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/Tema/assets/plugins/wizard/steps.css" rel="stylesheet">
    <link href="~/Content/Tema/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/Tema/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Content/Tema/assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Tema/assets/plugins/morrisjs/morris.css" rel="stylesheet">
    <!-- Footable CSS -->
    <link href="~/Content/Tema/assets/plugins/footable/css/footable.core.css" rel="stylesheet">
    <link href="~/Content/Tema/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <!--alerts CSS -->
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Content/Tema/assets/plugins/jsgrid/dist/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/Tema/assets/plugins/jsgrid/dist/jsgrid-theme.min.css" />
    <!-- chartist CSS -->
    <link href="~/Content/Tema/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/Content/Tema/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="~/Content/Tema/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="~/Content/Tema/assets/plugins/css-chart/css-chart.css" rel="stylesheet">
    <!-- Vector CSS -->
    <link href="~/Content/Tema/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- Calendar CSS -->
    <link href="~/Content/Tema/assets/plugins/calendar/dist/fullcalendar.css" rel="stylesheet" />

    <link href="~/Content/SweetAlert/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-editable.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/Tema/css/style.css" rel="stylesheet">

    <!-- You can change the theme colors from here -->
    <link href="~/Content/Tema/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/Content/Tema/assets/images/logo/logo-retina1.png" alt="homepage" class="dark-logo" style="width:100px;height:50px" />
                            <!-- Light Logo icon -->

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>

                            <!-- Light Logo text -->
                            <img src="~/Content/Tema/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="round round-success"> @user.Name.Substring(0, 1)</span></a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><span class="round round-success"> @user.Name.Substring(0, 1)</span></div>
                                            <div class="u-text">
                                                <h4>@(user.Name+" "+user.Surname)</h4>
                                                <p class="text-muted">@user.Positions.Position</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>

                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User profile -->
                <div class="user-profile">
                    <!-- User profile image -->
                    <div class="profile-img"><span class="round round-success"> @user.Name.Substring(0, 1)</span> </div>
                    <!-- User profile text-->
                    <div class="profile-text">
                        <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">@(user.Name+" " +user.Surname) <span class="caret"></span></a>
                        <div class="dropdown-menu animated flipInY">
                            <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>

                            <div class="dropdown-divider"></div> <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>
                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">ACTION BAR</li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li>
                            <a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Personnel</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/Personnel/Create">Create Personnel</a></li>
                                <li><a href="/Personnel/PersonnelList">Personnel List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-code-equal"></i><span class="hide-menu">Projects</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/Project/Create">Create Project</a></li>
                                <li><a href="/Project/Index">Project List</a></li>
                                <li><a href="/Project/ProjectList">Personnel Project List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-glassdoor"></i><span class="hide-menu">Support Project</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/SupportProject/Create">Create Project</a></li>
                                <li><a href="/SupportProject/Index">Project List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-file-multiple"></i><span class="hide-menu">Files</span></a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            @RenderBody()
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/Content/Tema/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Content/Tema/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/Tema/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Scripts/gridmvc.js"></script>
    <script src="~/Content/Tema/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/Tema/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/Content/Tema/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/Tema/js/custom.min.js"></script>
    <!-- Footable -->
    <script src="~/Content/SweetAlert/dist/sweetalert2.all.min.js"></script>
    <script src="~/Content/SweetAlert/dist/sweetalert2.min.js"></script>
    <!--Morris JavaScript -->
    <script src="~/Content/Tema/assets/plugins/raphael/raphael-min.js"></script>
    <script src="~/Content/Tema/assets/plugins/morrisjs/morris.js"></script>
    <script src="~/Content/Tema/js/morris-data.js"></script>
    <!-- =========================================
    <!-- Sweet-Alert  -->
    @*<script src="~/Content/Tema/assets/plugins/sweetalert/sweetalert.min.js"></script>
        <script src="~/Content/Tema/assets/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>
        <script src="~/Content/Tema/assets/plugins/footable/js/footable.all.min.js"></script>
        <script src="~/Content/Tema/assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>*@
    <!--FooTable init-->

    <script src="~/Content/Tema/assets/plugins/moment/min/moment.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/wizard/jquery.steps.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/wizard/jquery.validate.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/wizard/steps.js"></script>
    <script src="~/Content/Tema/js/footable-init.js"></script>
    <script src="~/Content/Tema/assets/plugins/toast-master/js/jquery.toast.js"></script>
    <script src="~/Content/Tema/js/toastr.js"></script>
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/Content/Tema/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <!-- ============================================================== -->
    <script src="~/Content/Tema/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/switchery/dist/switchery.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/Tema/assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Content/Tema/assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/Tema/assets/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/Content/Tema/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Chart JS -->
    <script src="~/Content/Tema/assets/plugins/echarts/echarts-all.js"></script>
    <script src="~/Content/Tema/js/dashboard5.js"></script>
    <script src="~/Content/Tema/assets/plugins/jsgrid/db.js"></script>
    <script type="text/javascript" src="~/Content/Tema/assets/plugins/jsgrid/dist/jsgrid.min.js"></script>
    <script src="~/Content/Tema/js/jsgrid-init.js"></script>
    <script src="~/Content/Tema/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/echarts/echarts-all.js"></script>
    <!-- Vector map JavaScript -->
    <script src="~/Content/Tema/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Content/Tema/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Calendar JavaScript -->
    <script src="~/Content/Tema/assets/plugins/moment/moment.js"></script>
    <script src='~/Content/Tema/assets/plugins/calendar/dist/fullcalendar.min.js'></script>
    <script src="~/Content/Tema/assets/plugins/calendar/dist/jquery.fullcalendar.js"></script>
    <script src="~/Content/Tema/assets/plugins/calendar/dist/cal-init.js"></script>
    <!-- sparkline chart -->
    <script src="~/Content/Tema/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/Tema/js/dashboard4.js"></script>


    <script src="~/Content/Tema/assets/plugins/x-editable/dist/bootstrap-editable/js/bootstrap-editable.js"></script>
</body>

</html>
